
:root {
    --clr-primary-800:hsl(16,100%,97.06%);
    --clr-primary-100:hsl(0, 18%, 93%);
    --clr-primary-200:rgb(245,245,245);

    --clr-secondary-800:hsl(2.76,84.44%,64.71%);
    --clr-secondary-900:hsl(0, 2%, 9%);

    --ff-primary:'Montserrat', sans-serif;
    --ff-secondary:'Permanent Marker', cursive;
    --ff-main:'Aguafina Script', cursive;

    --fw-normal: 400;
    --fw-bold: 500;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: rgb(255, 225, 230);
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

 

  * {
    font-family: var(--ff-primary);
  }





  Hr {
    border: 0.1px solid rgb(214, 214, 214);
  }
  
  .tagline-nav{
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .tagline-text {
    height: 2rem;
    width: 100%;
    background-color: var(--clr-primary-200);
    font-family: var(--ff-primary);
    font-weight: bold;
  }

  .heart-icon {
    color: hsl(0, 92%, 47%);
  }

  .tagline-text-elements {
    display: flex;
    width: 1400px;
    justify-content: space-between;
    /* margin: 0 1rem 0 1rem; */
    margin: 0 auto;
    font-size: 15px;
  }
  
  .tagline-text-p {
    margin-top: 0.4rem;
  }

  .tagline-text-link {
    margin-top: 0.4rem;
  }

  .tagline-link a {
    text-decoration: none;
    color: var(--clr-secondary-900);
  }

  .tagline-link a:hover {
    color: rgb(235, 105, 29);
  }

  .login-icon {
    margin-right: 5px;
    font-weight: var(--fw-normal);
  }

  .nav-main{
    width: 1400px;
    height: 80px;
    


    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .menu-main{
    width: fit-content;
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 1fr 1fr 2fr;
    justify-content: start;
    align-items: center;
  }

  @media only screen and (max-width: 1400px){

    .nav-main{
        width: 100%;
        padding: 0 10px;
    }

    .tagline-text-elements{
        width: 100%;
        padding: 0 10px;
    }

  }

  .button-bars{
    display: none;
    position: relative;
    
  }

  .wrap.open-menu {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 20rem;
    max-height: 100%;
    top: 2.1rem;
    z-index: 10;
    right: 0;
    /* max-height: 100vh; */
  }

  @media only screen and (max-width: 1000px){
    

    .wrap.open-menu {
      display: block;
      position: absolute;
      background-color: rgb(255, 255, 255);
      width: 20rem;
      max-height: 100%;
      top: 2.1rem;
      z-index: 10;
      right: 0;
      
      /* max-height: 100vh; */
    }


    .menu-main{
        display: none;
    }

    .nav-main{
      height: 59px;
    }

    .bars-icon{
        font-size: 25px;
    }

    .button-bars{
      border: none;
      cursor: pointer;
    }

    .button-bars{
      display: block;
      margin-right: 1rem;
    }

    .tagline-link{
        display: none;
    }

  }

  .logo{
    margin: auto 0;
    font-family: 'Damion', cursive;
    color: var(--clr-secondary-800);
    font-size: 30px;
  }

  .menu-title{
    font-size: 14px;
    display: flex;
    align-items: center;
    width: fit-content;
  }

  .menu-break{
    text-align: center;
    padding: 0 5px;
  }

  .menu-item-1:hover .menu-button-1{
    background-color: rgb(255, 34, 34);
  }
    


  .menu-button-1{
    height: fit-content;
    margin-left: 5px;
    border-radius: 20px;
    font-size: 8px;
    text-align: center;
    margin-bottom: 5px;
    border: none;
    background-color: dodgerblue;
    font-weight: bold;
  }

  .menu-button-2{
    width: 100%;
    height: 45px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: rgb(241,96,89);
    border: none;
    text-align: start;
  }

  .menu-title:hover{
    color: rgb(235, 105, 29);
    cursor: pointer;
  }
  
  .menu-button-1:hover{
    cursor: pointer;
  }

  .menu-button-2:hover{
    cursor: pointer;
    background-color:rgb(190,60,45);
  }
  
  a{
    text-decoration: none;
    color: inherit;
  }


  .start {
    width: 100%;
    height: 30rem;
    /* background-color: var(--clr-primary-800); */
    background-color: rgb(255, 225, 230);
    

  }

  .start-elements {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-size: 25px;
    margin-top: 6rem;
    word-spacing: 0.25rem;
  }

  .start-sub-title-p{
    text-align: center;
  }

  .sub-title-span {
    color: var(--clr-secondary-800);
    font-family: var(--ff-secondary);
  }

  .start-title {
    font-weight: 700;
  }

  .start-title-p{
    text-align: center;
  }

  .start-button {
    width: 18rem;
    height: 5rem;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 18px;
    color: var(--clr-primary-200);
    background-color: var(--clr-secondary-800);
    border: 1px solid var(--clr-secondary-800);
  }
  
  .tagline-text-p {
    font-size: 13px;
  }

  .start-button:hover {
    background-color:rgb(190,60,45);
    cursor: pointer;
    transition: 0.5s;
  }

  .credit{
    font-size: 12px;
  }

  .learn {
    width: 100%;
    height: 4rem;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    
    
  }

  .learn-elements {
    width: 60%;
    height: 4rem;
    display: flex;
    gap: 2rem;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-top: 20rem;
  }

  .learn-p {
    font-weight: bold;
  }

  
  @media only screen and (max-width: 1020px) {
    .learn {
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        
      }

      .learn-elements {
        width: 50%;
        height: 3rem;
        display: grid;
        background-color: white;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        place-content: center;
        margin-top: 5rem;
        grid-gap:0.5rem;
        text-align: center;
      }


      .learn-p {
        grid-column: 1/2;
      }
      /* .learn-flex {
        display: flex;
        gap: 10px;
        justify-content: space-between;
      } */

      .learn-p-three{
        grid-row: 2/3;
        grid-column: 1/2;
        text-align: end;
      }

      .learn-p-two{
        grid-row: 2/3;
        grid-column: 1/2;
        text-align: start;
      }

      .start {
        width: 100%;
        height: 22rem;
        /* background-color: var(--clr-primary-800); */
        background-color: rgb(255, 225, 230);
        position: relative;
    
      }

      .start-elements {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        font-size: 25px;
        margin-top: 3rem;
        word-spacing: 0.25rem;
      }

  }

  @media only screen and (max-width: 940px){

    .start-elements {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        font-size: 25px;
        margin-top: 1rem;
        word-spacing: 0.25rem;
      }

      .start {
        width: 100%;
        height: 25rem;
        /* background-color: var(--clr-primary-800); */
        background-color: rgb(255, 225, 230);
        position: relative;
    
      }

  }

  @media only screen and (max-width: 940px){

    .learn-elements {
        width: 50%;
        height: 3rem;
        display: grid;
        background-color: white;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        place-content: center;
        margin-top: 5rem;
        grid-gap:0.5rem;
        text-align: center;
      }

      .start {
        width: 100%;
        height: 24rem;
        /* background-color: var(--clr-primary-800); */
        background-color: rgb(255, 225, 230);
        position: relative;
    
      }

  }

  @media only screen and (max-width: 600px){

    .start {
        width: 100%;
        /* height: 25rem; */
        /* background-color: var(--clr-primary-800); */
        background-color: rgb(255, 225, 230);
        position: relative;
    
      }

      .learn-elements {
        width: 50%;
        height: fit-content;
        display: grid;
        background-color: white;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        place-content: center;
        margin-top: 5rem;
        grid-gap:0.5rem;
        text-align: center;
      }

      .learn-p-two{
        text-align: center;
      }

      .learn-p-three{
        text-align: center;
      }


  }

  @media only screen and (max-width: 530px){

    .start {
        width: 100%;
        height: 26rem;
        background-color: var(--clr-primary-800);
        background-color: rgb(255, 225, 230);
        position: relative;
      }

      .learn-elements {
        width: 50%;
        height: fit-content;
        display: grid;
        background-color: white;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        place-content: center;
        margin-top: 7rem;
        grid-gap:0.5rem;
        text-align: center;
      }

  }

  @media only screen and (max-width: 640px){

    .learn-elements {
        width: 50%;
        height: fit-content;
        display: grid;
        background-color: white;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        place-content: center;
        margin-top: 7rem;
        grid-gap:0.5rem;
        text-align: center;
      }
      
      .learn-p-two{

        grid-row: 2/3;
        text-align: center;
      }

      .learn-p-three{

        grid-row: 3/4;
        text-align: center;
      }

  }


  @media only screen and (max-width: 640px) {

    .start-button {
        width: 90%;
        height: 5rem;
        margin-top: 1rem;
        font-weight: bold;
        font-size: 18px;
        color: var(--clr-primary-200);
        background-color: var(--clr-secondary-800);
        border: 1px solid var(--clr-secondary-800);
      }

  }


  .learn-flex {
    display: flex;
    gap: 10px;
  }

  .video {
    background-color: white;
    width: 100%;
    height: 500px;
    margin: 0 auto;
  }

  
  
  
  /* WRAP */

  .wrap {

    position: absolute;
    background-color: rgb(255, 255, 255);
    max-width: 0;
    z-index: 10;
    right: 0;
    transition: max-width 0.2s;
    top: 2.1rem;
    overflow: hidden;
    
  }

  .wrap.open-menu {
    position: absolute;
    background-color: rgb(255, 255, 255);
    max-width: 20rem;
    top: 2.1rem;
    z-index: 10;
    right: 0;
    max-height: 100vh;
  }

  

  .navigation-wrap {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;

  }

  .search-lines {
    width: 100%;
    height: 30px;
    margin-bottom: 1rem;
  }

  .search-wrap {
    margin-left: 3rem;
    padding: 0.8rem;
  }

  .icon-wrap {
    align-self: flex-end;
    margin-right: 2.5rem;
    margin-top: 1rem;
  }

  .nav-wrap {
    display: flex;
    width: 150px;
    flex-direction: column;
    gap: 1rem;
    font-weight: bold;
    margin-top: 1rem;
  }

  .red-text {
    color:   rgb(235, 105, 29);
  }

  .nav-wrap-text:hover{
    color: rgb(235, 105, 29);
  }

  .red-text:hover{
    color: rgb(190,60,45);
  }

  .icon-wrap:hover {
    cursor: pointer;
    color: rgb(218, 210, 210);
  }

  .search-lines input[type=text] {
    border: none;
    
  }